/* GENERAL */

@font-face {
  font-family: "Press Start 2P";
  src:url("assets/PressStart2P.ttf");
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P";
  transition: all 0.3s ease;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d;
  overflow: hidden;
  padding: 0 8vw;
  padding-bottom: 8vw;

}

.main{
  height: 100%;
  background-color: #1d1d1d;

}

/* REUSABLE STYLES */
.grid{
  display: grid;
}


.flex{
  display: flex;
}

.flex-horizontal{
  flex-direction: row;
}

.flex-vertical{
  flex-direction: column;
}

.fixed{
  position: fixed;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */

.nav{
  height: 8vw;
  width: 100%;
  align-items: flex-end;
}

.nav ul{
  max-width: 40%;
}

.nav ul li{
  list-style: none;
  padding-right: 40px;
}

.nav ul li a{
  text-decoration: none;
  font-size: 0.8rem;
}

.mobile-nav{
  display: none;
}

.nav ul li a:hover{
  color: #848484;
}

/* SOCIALS */

.socials{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.socials svg{
  height: 15px;
  width: auto;
}

/* HAMBURGER */

.hamburger{
  display: none;
  position: absolute;
}

.hamburger:before,
.hamburger:after,
.hamburger div {
  background: #fff;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  margin: 7px 0;
  transition: 0.5s;
}
.x:before {
  transform: translateY(12px) rotate(135deg);
}
.x:after {
  transform: translateY(-12px) rotate(-135deg);
}
.x div {
  transform: scale(0);
}

/* SECTIONS */

.section{
  width: 50%;
  height: calc(100vh - 16vw);
}

/* CONTENT */

.content-section{
  grid-template-rows: 3fr 1fr 1fr 1fr;
  padding-right: 20px;
}

.logo-wrapper{
  align-items: flex-end;
  /* justify-content: */
  width: 100%;
}


.logo-wrapper img{
  max-width: 90%;
  max-height: 60%;
}

.paragraph{
  margin-top: 20px;
  width: 100%;
  font-size: 10px;
  line-height: 12px;
}

.btn-wrapper{
  align-items: center;
}

.button{
  font-size: 11px;
  text-decoration: none;
  padding: 20px 25px;
  background-color: #fff;
  color: #1d1d1d;
  margin: 20px 0;
  position: relative;
}

.btn-inverse{
  color: white;
  background-color: #1d1d1d;
}

.button:hover{
  background-color: #2d2d2d;
  color: #fff
}

.stats-wrapper{
  align-items: flex-end;
  width: 100%;
}

.stats-container{
  width: 50%;
}

.stats-container .number{
  font-size: 1.3em;
}

.stats-container .sub{
  font-size: 0.7rem;
  padding: 15px 0;
  color: #848484;
}

/* IMAGES */

.image-section{
  justify-content: center;
  align-items: center;
}

.image-section svg{
  max-height: 100%;
}

/* MOBILE */



/* ABOUT */
